{% extends 'flatpages/default.html' %}

{% block title %}
news
{% endblock title %}

{% block content %}

   <h1>FanServ</h1>

   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <hr>

   {% for post in startpage %}
       <div>
           <p class="date">Опубликовано: {{ post.article_date }} пользователем {{ post.author }}</p>
           <p class="date">Сообщение: {{ post.text }}</p>
           <p class="date">Детально: <a href="{% url 'detail' post.id %}">{{ post.category }}</a></p>
           <p class="date">Редактировать объявление: <a href="{% url 'edit' post.id %}">{{ post.title }}</a></p>
           <p class="date">Удалить объявление: <a href="{% url 'delete' post.id %}">{{ post.title }}</a></p>
           {% if post.file %}
               <p><img src="{{ post.file.url }}"></p>
           {% endif %}
           <p>--------------------------------------------------------------------------------------------------------------</p>

       </div>
            {% empty %}
       <h1 style="text-align: center;">Объявлений нет!</h1>
   {% endfor %}

{% endblock content %}